@{
    ViewBag.Title = "Home Page";
}

<h4>Working variant</h4>
@Html.ActionLink("Working variant", "Index", "Working")

<h4>Not working variant</h4>
@Html.ActionLink("Not working variant", "Index", "NotWorking")